body {
	background-color: #ffd390
}
h1{
	text-align: center;
}

h2 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 25px;
	color: #f9ffc9;
}
a{
	text-decoration: none;
	color: #f9ffc9;
}

img {
	height: 170px;
	width: 170px;
	box-shadow: rgba(0,0,0,0.2) 10px 10px;

}

#odsylacz {
	position: fixed;
	top:10px;
	left:50%;
	margin-left:-225px;
}

#header {
	position: relative;
	width:99%;
	border-radius: 15px;
	height: 50px;
	background-color: #dead61;
	margin-bottom: 15px;
}

.gguzik{
	list-style-type: none;
	position: fixed;
	margin: -10px;
}

.guzik {
	display: inline;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	padding: 5px;
	border-radius: 5px 5px;
	background-color:#d67829;
	font-weight: bold;
}
.love2 img{
	display: inline;
	height: 200px;
	width: 250px;
	box-shadow: none;
}
.love3 img{
	display: inline;
	height: 200px;
	width: 250px;
	margin-left:250px;
	box-shadow: none;
}

#left{
	width: 30%;
	float: left;
	/*position: fixed;*/
	top:100px;
}

p {
	font-family: Tahoma;
	font-size: 1em;
}

#right{
	width: 70%;
	height:auto;
	float: right;
}
#love{
	height: 200px;
	border-radius: 15px;
	background-color: #512711;
	float: center;
}
#czeko1{
	box-shadow: none;
	left:50%;
	margin-left:350px;
}

table {
	border: #000000 1px solid;
	background-color: #dead61;
	float: right;
	margin-right: 10px;
	border-radius: 15px;
}

td {
	height: 100px;
	width: 100px;
}

td img {
	height: 100px;
	width: 100px;
	box-shadow: none;
}

th {
	font-family: Verdana;
	font-size: 1em;
	font-weight: bold;
	color: #f9ffc9;
	
}


#footer{
	clear: both;
	border-radius: 15px;
	height: 75px;
	background-color: #dead61;
	text-align: right;
}

.bold{
	font-family: tahoma;
	font-weight: bold;
	font-size: 1em;
	font-variant: small-caps;
	color: #fffbfb;
}